{% extends "@AbstractApiTheme/admin/base.html.twig" %}

{%- block content_title -%}{% trans %}api.menu.applications{% endtrans %}{%- endblock -%}

{%- block content_header_actions -%}
    <a class="uk-button" href="{{ path('adminApiApplicationsAdd') }}">
        <i class="uk-icon-rz-plus"></i> {% trans %}api.applications.add{% endtrans %}
    </a>
{%- endblock -%}

{%- block content_body -%}
    <article class="content content-no-action-menu">
        <div class="content-table-cont">
            <table class="content-table uk-table">
                <thead>
                <tr>
                    <th class="table-actions-row uk-visible-xlarge">{% trans %}api.applications.enabled{% endtrans %}</th>
                    <th class="table-actions-row uk-visible-xlarge">{% trans %}api.applications.allowedPreview{% endtrans %}</th>
                    <th>
                        {% trans %}api.applications.name{% endtrans %}
                        {% include 'includes/column_ordering.html.twig' with {
                            'field': 'appName',
                            'filters': filters,
                        } only %}
                    </th>
                    <th>{% trans %}api.applications.apiKey{% endtrans %}</th>
                    <th class="uk-visible-xlarge">
                        {% trans %}api.applications.updated_at{% endtrans %}
                        {% include 'includes/column_ordering.html.twig' with {
                            'field': 'updatedAt',
                            'filters': filters,
                        } only %}
                    </th>
                    <th class="table-actions-row table-actions-row-2">{% trans %}actions{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for application in applications %}
                    {% spaceless %}
                        <tr>
                            <td class="uk-visible-xlarge">
                                {%- if application.Enabled -%}
                                    <div class="uk-button-status"><i class="uk-icon-check"></i></div>
                                {%- else -%}
                                    <div class="uk-button-status"><i class="uk-icon-ban"></i></div>
                                {%- endif -%}
                            </td>
                            <td class="uk-visible-xlarge">
                                {%- if application.AllowedPreview -%}
                                    <div class="uk-button-status"><i class="uk-icon-check"></i></div>
                                {%- else -%}
                                    <div class="uk-button-status"><i class="uk-icon-ban"></i></div>
                                {%- endif -%}
                            </td>
                            <td><a href="{{ path('adminApiApplicationsDetails', {id: application.id}) }}">{{- application.appName -}}</a></td>
                            <td><code>{{- application.apiKey -}}</code></td>
                            <td class="uk-visible-xlarge">{{- application.updatedAt|localizeddate('short', 'short') -}}</td>
                            <td class="table-actions-row">
                                <a href="{{ path('adminApiApplicationsDetails', {id: application.id}) }}"
                                   title="{% trans %}edit{% endtrans %}"
                                   class="uk-button uk-button-content uk-button-small"><i class="uk-icon-rz-pencil"></i></a>
                                <a href="{{ path('adminApiApplicationsDelete', {id: application.id}) }}"
                                   title="{% trans %}delete{% endtrans %}"
                                   class="uk-button uk-button-content uk-button-small uk-button-table-delete"><i class="uk-icon-rz-trash-mini-o"></i></a>
                            </td>
                        </tr>
                    {% endspaceless %}
                {% else %}
                    <tr>
                        <td colspan="6">{% trans %}api.no_application{% endtrans %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </article>
{%- endblock -%}
